#app-container {
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-items: baseline;
}

.header {
 background-color: aqua;
}

#list-container {
    background-color: yellowgreen;
}

#sidebar { 
    background-color: teal;
}

#container {
    background-color: thistle;
}

#tasks-container {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

 #task-title-input{    
    width: 100%;    
    box-sizing: border-box;
  } 

  #task-title-input.invalid {
    border: 1px solid red;
  }

  .task-info {
      display : flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .dueDate-span {
      margin-right : 15px;
  }
  .dueDate-icon-span {
      margin-right: 10px;
  }
   