#app-container {
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-items: baseline;
}

.header {
 background-color: aqua;
}

#list-container {
    background-color: yellowgreen;
}

#sidebar { 
    background-color: teal;
}

#container {
    background-color: thistle;
    width: 80%;
}

#tasks-container {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.task.completed {
text-decoration: line-through;
}

 #task-title-input{    
    width: 75%;    
    box-sizing: border-box;
  } 

  #task-title-input.invalid {
    border: 1px solid red;
  }

  
textarea {
    white-space: pre-wrap;
}

input {
    white-space: pre-wrap;
}
  

  
.dueDate-icon-span, .category-icon-span {
      margin-right: 10px;
      margin-left: 10px;
}

.task {
    display : grid;
    grid-template-columns: 5% 5% 40% 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "checkbox prio title date edit"
                        "checkbox prio description  category delete"
}

.checkbox {
    grid-area: checkbox;
    justify-self: right;
    
    width: 15px;
    height: 15px;
    
}

.task-title {
    grid-area: title;
}

.task-dueDate {
    grid-area : date;
}

.edit-btn {
    grid-area : edit;
    justify-self: center;
}

.delete-btn {
    grid-area : delete;
    justify-self: center;
}

.task-priority {
    grid-area: prio;
    justify-self: center;
    
}

.task-description {
    grid-area: description;
}

.task-category {
    grid-area : category;
}

.task-li:hover {
    cursor : pointer;
    background-color: white;
}
   

  
 