#app-container {
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-items: baseline;
}

.header {
 background-color: aqua;
}

#list-container {
    background-color: yellowgreen;
}

#sidebar { 
    background-color: teal;
}

#container {
    background-color: thistle;
}

#tasks-container {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

 #task-title-input{    
    width: 75%;    
    box-sizing: border-box;
  } 

  #task-title-input.invalid {
    border: 1px solid red;
  }

  .task-head, .task-extra {
      display : flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      /* flex: 1 1 auto; */
      margin-right: 15px;
  }

  /* .dueDate-span {
      margin-right : 15px;
      
  } */
textarea {
    white-space: pre-wrap;
}

input {
    white-space: pre-wrap;
}
  

  /* .title-span {
      width: 40%;
  } */
  .dueDate-icon-span {
      margin-right: 10px;
  }

  .dueDate-span {
      margin-right: 20px;
      margin-left: 15px;
  }
  .description-span {
    /* margin-right : 15px; */
    margin-left: 15px;
    width: 40%;
      
}
   